@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@layer components {
  .white-glow {
    box-shadow: 5px 5px 150px 10px rgba(255, 255, 255, 0.3);
  }
  .cube-mouse-highlight {
    box-shadow: 5px 5px 500px 50px rgba(255, 255, 255, 0.5);    
    background-color: rgba(255, 255, 255, 0.1);
  }
  .white-glow-small {
    box-shadow: 5px 5px 50px 10px rgba(255, 255, 255, 1); 
  }
  .h-minus-header {
    height: calc(100vh - 65px);
  }
}

::selection {
    background: blue;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

backgroundGrid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
